@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	position: relative;
	height: 100%;
}
.headerbg{
	background: url("../img/bg.png");
	background-size: cover;
	color: azure;
	padding: 5%;
	height: 100%;
}

.logo {
	width: 55%;
	margin-top: 30%;
	margin-left: 20%;
}

.imgright {
	width: 60%;
}

.carousel-inner img {
	margin: auto;
}

/*
b {
		color: #633991;
		font-size: 55px;
		font-weight: 500;
}
*/

.heading {
	padding-top: 35px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #633991;
	font-size: 40px;
	font-weight: bold;
	font-kerning: 45%;
}

.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	background: #ff5f6D;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	color: #fff;
}

.footer button {
	background: #fff;
	color: #fc3232;
	height: 60px;
	padding: 10px;
	width: 80%;
	border-radius: 80px 80px 80px 80px;
	-moz-border-radius: 80px 80px 80px 80px;
	-webkit-border-radius: 80px 80px 80px 80px;
	margin-top: 5%;
	border: none;
}

.footer button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
	background: #fc3232;
	color: #fff;
}

.footerbrand {
	background: #181818;
	padding: 40px;
}

.logofooter {
	width: 100%;
}